*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.php linguist-language=PHP
Templates/css/** linguist-language=CSS
Templates/js/** linguist-language=JavaScript
model/** linguist-language=PHP
controller/** linguist-language=PHP
view/** linguist-language=PHP
vendor/** linguist-vendored=true
node_modules/** linguist-vendored=true
